<div class="comments-contianer">
    <ol>
        <%for(let comment of post.comments){%>
            <li id="comment-item<%=comment.id%>">
                <a  href="/likes/toggle/?id=<%=comment._id%>&type=Comment"  class="g-like cmtLikeBtn" ><i class="far fa-thumbs-up"></i> <span></span></a>
                <p class="comment-content d-inline"><%=comment.content%></p>
                <small class="alert-link d-inline">
                    <%=comment.user.name%>
                </small>
                <%if(locals.user && (locals.user.id==post.user.id || comment.user.id==locals.user.id)){%>
                <a class="d-inline dlt-cmt-btn" href="/comment/destroy/<%=comment.id%>"><i class="fas fa-trash fa-xs danger-color"></i></a>
                <%}%>
            </li>
        <%}%>
    </ol>
</div>