<%if(locals.user){%>
    <div class="create-comment">
        <p>
            <a class="btn btn-outline-primary add-comment-btn" data-toggle="collapse" href="#newCmt<%=post._id%>" role="button" aria-expanded="false" aria-controls="newCmt<%=post._id%>">
             add comment+
            </a>
        </p>
        <div class="collapse" id="newCmt<%=post._id%>">
        <!-- <div class="" id="newCmt<%=post._id%>"> -->
            <form method="POST" action="/comment/create" class="cmt-form">
                <div class="mb-3">
                    <textarea name="content" class="form-control"  placeholder="comment here.." required></textarea>
                    <input type="hidden" name="postId" value="<%=post._id%>">
                    <button class="btn btn-dark" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
<%}%>