<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/css/home.css">

<main class="home-main">
    <header><h1>SOCIALIZER/<%=title%></h1></header>
    <%if(locals.user){%>
        <div class="post">
            <h3>POST</h3>
            <form id="new-post-form" method="POST" action="/post/create">
                <textarea name="content" cols="30" rows="2" placeholder="type here...." required></textarea>
                <button class="btn btn-success" type="submit">post</button>
            </form>
        </div>    
    <%}%>
    
    <div class="list-group post-container">
        <%for(let post of posts){%>
            <div class="list-group-item list-group-item-action post-item">
                <div class="d-flex w-100 justify-content-between">
                    <div class="m-1">
                        <h3 class="d-inline"><%=post.user.name%></h3>
                        <%if(locals.user && locals.user.id==post.user.id){%>
                           <a class="btn btn-secondary btn-danger d-inline"  href="/post/destroy/<%=post._id%>" role="button" aria-expanded="false" >
                               Delete
                           </a>
                       <%}%>
                    </div>
                    <small><%=post.createdAt%></small>
                </div>
                <p class="mb-1 overflow-auto"><%=post.content%></p>
                <div class="comment-section">
                    <p class="btn-group" role="group">
                        <a class="btn btn-secondary comments-drop-down" data-toggle="collapse" href="#post<%=post._id%>" role="button" aria-expanded="false" aria-controls="post<%=post._id%>">
                            comments
                        </a>  
                    </p>
                    <div class="collapse show" id="post<%=post._id%>">
                        <%if(locals.user){%>
                            <div class="create-comment">
                                <p>
                                    <a class="btn btn-outline-primary add-comment-btn" data-toggle="collapse" href="#newCmt<%=post._id%>" role="button" aria-expanded="false" aria-controls="newCmt<%=post._id%>">
                                        comment+
                                    </a>
                                </p>
                                <div class="collapse" id="newCmt<%=post._id%>">
                                    <form method="POST" action="/comment/create">
                                        <div class="mb-3">
                                            <textarea name="content" class="form-control"  placeholder="comment here.." required></textarea>
                                            <input type="hidden" name="postId" value="<%=post._id%>">
                                            <button class="btn btn-dark comment-submit-btn" type="submit">submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <%}%>
                        <div class="comments-contianer">
                            <ol>
                                <%for(let comment of post.comments){%>
                                    <li>
                                        <p class="comment-content d-inline"><%=comment.content%></p>
                                        <small class="alert-link d-inline">
                                            <%=comment.user.name%>
                                        </small>
                                    </li>
                                <%}%>
                            </ol>
                        </div> 
                    </div>
                </div> 
            </div>
        <%}%>
    </div>
</main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>