<!DOCTYPE html>
<html>
    <head>
         <title></title>
         <link rel="stylesheet" type="text/css" href="css/all.min.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
         <link rel="stylesheet" href="/css/layout.css">
         <link rel="stylesheet" href="/css/header.css">
         <link rel="stylesheet" href="/css/footer.css">
         
         <%- style%>
    </head>
    <body>
         <%-include('_header'); %>
         
         <%- body %>
        
        <%-include('_footer'); %>
        <%- script%>
        <script>
            <%if(locals.flash && flash.success.length>0){%>
                new Noty({
                    theme:'relax',
                    text: '<%=flash.success%>',
                    type:'success',
                    layout:'topRight',
                    timeout:1500
               }).show();
            <%}%>
            <%if(locals.flash && flash.error.length>0){%>
                new Noty({
                    theme:'relax',
                    text: '<%=flash.error%>',
                    type:'error',
                    layout:'topRight',
                    timeout:1500
               }).show();
            <%}%>
        </script>
    </body>
</html>