<html>
    <head>
         <!-- ----------------------------------BOOTSTRAP FILES LINK----------------------------------- -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        
        <!------------------------------------FONT-AWESOME-------------------------------------> 
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
        <!------------------------------------NOTY------------------------------------->
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
           <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        
        <!------------------------------------JQUERY------------------------------------->
               <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        
        <!------------------------------------LOCALS FILES------------------------------------->       
            <link rel="stylesheet" href="/css/layout.css">
            <link rel="stylesheet" href="/css/header.css">
            <link rel="stylesheet" href="/css/footer.css">
            <%- style%>
    </head>
    <body>
         <%-include('_header'); %>
        
         <main class="layout-main">
            <%- body %>
         </main>  
        
        <%-include('_footer'); %>
        
        
        
        
        
        <%- script %>
        <script>
            <%if(locals.flash && flash.success.length>0){%>
                new Noty({
                    theme:'relax',
                    text: '<%=flash.success%>',
                    type:'success',
                    layout:'topRight',
                    timeout:1500
               }).show();
            <%}%>
            <%if(locals.flash && flash.error.length>0){%>
                new Noty({
                    theme:'relax',
                    text: '<%=flash.error%>',
                    type:'error',
                    layout:'topRight',
                    timeout:1500
               }).show();
            <%}%>
        </script>
    </body>
</html>
